<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/styles.css">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <script src="https://kit.fontawesome.com/b772031a0c.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">



    <title>Cart | Mission Fitness & Food Supplements</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light ">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img id="logo" class="img-fluid" src="images/logo.png" alt="">
                <img id="mlogo" class="img-fluid" src="images/logo1.png" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/services">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/products">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                    <% if(user){ %>
                        <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                       <%= user.name %>
                     </a>
                     <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                       <li> <a class="dropdown-item" href="/profile"><i class="fa fa-user-circle" aria-hidden="true"></i>&nbsp; My Profile</a></li>
                       <li><a class="dropdown-item" href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp; Logout</a></li>
                     </ul>
                   </li>
                   <% } else {%>
                   <li class="nav-item">
                     <a class="nav-link" href="/login">Login</a>
                   </li>
                   <% } %>
                   <li class="nav-item">
                    <a class="nav-link cart" href="/cart"><span id="cartCounter" style="color:gold ;margin-right: 4px;"><%=session.cart ? session.cart.totalQty :'' %></span><i class="fas fa-shopping-cart"></i></a>
                </li>
                </ul>

            </div>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-sm btn-primary" type="submit">Search</button>
            </form>
        </div>
    </nav>





    <div class="container">
        <div class="row">
            <% if(session.cart) {%>
            <div class="col-sm cart">
                <table>
                    <th class="cart-product">Products </th>
                    <th class="qty qnt">Quantiy</th>
                    <th class="qty">SubTotal</th>
                    <% for(let powder of Object.values(session.cart.items)){%>
                    <tr>
                        <td>
                            <div class=" d-flex product-text">
                                <img class="img-fluid cart-img" src="images/<%= powder.item.image %>" alt="">
                                <div class="product-text">
                                    <p>
                                        <b>
                                            <%= powder.item.name %>
                                           
                                        </b>

                                        <br>
                    
                                        <small style="color: red;">  <%= powder.item.price %> /pcs</small>
                                        <!-- <button id="Quantity">remove</button> -->
                                    </p>

                                </div>
                            </div>
                        </td>
                        <td class="qty"><span><%= powder.qty %></span></td>
                        <td class="qty"><span><%=powder.item.price * powder.qty %></span></td>
                    </tr>
                    <% }%>
                </table>

                
                <div>
                    <table class="total">
                        <tr>
                            <td class="ttl"><b> SubTotal </b></td>
                            <td><%= session.cart.totalPrice%></td>
                        </tr>
                        <tr>
                            <td class="ttl"><b> Tax </b></td>
                            <td>100</td>
                        </tr>
                        <tr>
                            <td class="ttl"><b> Total </b></td>
                            <td><%= session.cart.totalPrice + 100%></td>

                        </tr>
                    </table>
                </div>
            </div>
<% }else{ %>
<h3>No item into the cart</h3>
<img class="class="rounded mx-auto d-block" src="/images/empty-cart.png" width="250px"height="500px">
<a href="/products">Go Back Order Some product</a>
<%}%>
        </div>
    </div>









    <div class="footer">
        <div class="container rowfooter ">
            <div class="row">
                <div class="col-sm">
                    <img class="img-fluid" src="images/logo1.png" alt="">
                    <p class="address">
                        <i class="fas fa-map-marker-alt"></i>
                        Address: C-100, Rajdhani Park, <br> Nangloi, New Delhi, 110041
                    </p>
                    <p>
                        <i class="fas fa-phone"></i>
                        Phone: <a href="">9582522758</a>
                    </p>
                    <p>
                        <i class="fas fa-envelope"></i>
                        Email: <a href="">akashjaiswal126@gmail.com</a>
                    </p>
                </div>
                <div class="col-sm ">
                    <h3>
                        Download Our App
                    </h3>
                    <p>
                        Download App for Android and ios mobile phone
                    </p>
                    <img class="img-fluid applogo" src="images/play-store.png" alt="">
                    <img class="img-fluid applogo" src="images/app-store.png" alt="">
                    <p class="appsoon">
                        App Coming Soon
                    </p>
                </div>
                <div class="col-sm" id="menu">
                    <h3>
                        Menu
                    </h3>
                    <p>
                        <a href="index.html">Home</a> <br>
                        <a href="">About Us</a> <br>
                        <a href="">Services</a> <br>
                        <a href="products.html">Produsts</a> <br>
                        <a href="">Contact</a> <br>
                        <a href="">Cart</a> <br>
                    </p>

                </div>
                <div class="col-sm">
                    <h3>
                        Opening hrs
                    </h3>
                    <p>Monday - Saturday: 05.00am to 09.00pm
                        <br>
                        Sunday: Closed
                    </p>
                    <h3>
                        Social Media
                    </h3>
                    <i class="fab fa-facebook-square"></i>
                    <i class="fab fa-youtube"></i>
                    <i class="fab fa-instagram-square"></i>
                    <i class="fab fa-twitter"></i>
                </div>
            </div>
            <div class="col-sm copyright">
                <p>
                    Copyright @2021 -Akash Jaiswal
                </p>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.ripples/0.5.3/jquery.ripples.min.js"></script>

    <script>
        $(".navbar").ripples({
            resolution: 1000,
            perturbance: 0.4,
        });
        $(".footer").ripples({
            resolution: 1000,
            perturbance: 0.4,
        });


    </script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script  src="/javascripts/app.js" type="module"></script>
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
    -->
</body>

</html>