<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/styles.css">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <script src="https://kit.fontawesome.com/b772031a0c.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">

    <title>HealthyHey Organic Raw Pea & Brown Rice Protein Isolate | Mission Fitness & Food Supplements</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light ">
        <div class="container-fluid">
            <a class="navbar-brand" href="index.html">
                <img id="logo" class="img-fluid" src="images/logo.png" alt="">
                <img id="mlogo" class="img-fluid" src="images/logo1.png" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/services">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/products">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                    <% if(user){ %>
                        <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                       <%= user.name %>
                     </a>
                     <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                       <li> <a class="dropdown-item" href="/profile"><i class="fa fa-user-circle" aria-hidden="true"></i>&nbsp; My Profile</a></li>
                       <li><a class="dropdown-item" href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp; Logout</a></li>
                     </ul>
                   </li>
                   <% } else {%>
                   <li class="nav-item">
                     <a class="nav-link" href="/login">Login</a>
                   </li>
                   <% } %>
                   <li class="nav-item">
                    <a class="nav-link cart" href="/cart"><span id="cartCounter" style="color:gold ;margin-right: 4px;"><%=session.cart ? session.cart.totalQty :'' %></span><i class="fas fa-shopping-cart"></i></a>
                </li>
                </ul>

            </div>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-sm btn-primary" type="submit">Search</button>
            </form>
        </div>
    </nav>




    <div class="container">
        <div class="row p-details">
            <div class="col-sm">


                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="images/<%= data.image %>" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="images/fproduct13-1.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="images/fproduct13-2.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="images/fproduct13-3.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="images/fproduct13-4.jpg" class="d-block w-100" alt="...">
                        </div>9
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>

                <div class="small-img-row">                    <div class="small-img-col">
                        <img class="img-fluid small-img" src="images/<%= data.image %>" alt="">
                    </div>
                    <div class="small-img-col ">
                        <img class="img-fluid small-img" src="images/fproduct13-1.jpg" alt="">
                    </div>
                    <div class="small-img-col ">
                        <img class="img-fluid small-img" src="images/fproduct13-2.jpg" alt="">
                    </div>
                    <div class="small-img-col ">
                        <img class="img-fluid small-img" src="images/fproduct13-3.jpg" alt="">
                    </div>
                    <div class="small-img-col ">
                        <img class="img-fluid small-img" src="images/fproduct13-4.jpg" alt="">
                    </div>


                </div>

            </div>
            <div class="col-sm">
                <h1 class="product-details"><%= data.name %></h1>
                <h3>
                    ₹ <%= data.price %>
                </h3>

                <table>
                    <tr>
                        <td> <strong> Ingredients</strong></td>
                        <td>Organic Pea & Rice Protein Blend</td>
                    </tr>
                    <tr>
                        <td> <strong> Flavour</strong></td>
                        <td>Unflavoured 1KG</td>
                    </tr>
                    <tr>
                        <td> <strong>Brand</strong></td>
                        <td>HealthyHey Organic</td>
                    </tr>
                    <tr>
                        <td> <strong> Item Weight</strong></td>
                        <td>1 Kilograms</td>
                    </tr
                    <tr>
                        <td> <strong> Diet Type</strong></td>
                        <td>Vegan</td>
                    </tr>
                    <tr>
                        <td> <strong> Protein Source</strong></td>
                        <td>Pea, Rice</td>
                    </tr>
                </table>
                <p>This is a Vegetarian product.</p>
                <p> <br>
                    <b> About this item </b>
                </p>
                <ul>
                    <li>HIGH PROTEIN - 8grams of complete in 10gram Serving</li>
                    <li>ORGANIC PLANT PROTEIN - Our Plant Protein is is 100% Organic.</li>
                    <li>SUGAR & LACTOSE FREE - 100% sugar & lactose free plant protein from Peas & Brown.</li>
                    <li>VEGAN PROTEIN POWDER - Organic, gluten free, vegan, dairy free, soy free, non-GMO whole food protein.</li>
                    <li>NO SOY PLANT PROTEIN - Our Organic Plant Protein is 100% Soy Free - It is a blend of Pea & Brown Rice Protein.</li>
                </ul>

                <a class="readmore" href="#readmore">Read More</a>
                <br> <br>
                <input class="qnty" type="number" value="1">
                <br> <br>
                <div class="addcart">
                    <button data-powder="<%=JSON.stringify(data) %>" class="butttoncart">Add to Cart</button>
                </div>
            </div>

        </div>
    </div>



    <div class="container my-5">
        <div class="row">
            <div class="col-sm">
                <h2 class="text-center">Similar Products</h2>
            </div>
        </div>
    </div>





    <div class="container">
        <div class="row fproduct">
            <div class="col-sm text-center">
                <img class="img-fluid" src="images/fproduct1.jpg" alt="">
                <h4>
                    Powder MJ Muscle Jockey, 1 Kg, Non prescription
                </h4>
                <p>
                    ₹ 1,299/ Piece
                </p>
            </div>
            <div class="col-sm text-center">
                <img class="img-fluid" src="images/fproduct2.jpg" alt="">
                <h4>
                    Boss Mass Protein Food Supplement
                </h4>
                <p>
                    ₹ 2,690/ Jar
                </p>
            </div>
            <div class="col-sm text-center">
                <img class="img-fluid" src="images/fproduct3.jpg" alt="">
                <h4>
                    Extra Gainer Food Supplement
                </h4>
                <p>
                    ₹ 2,490/ Jar
                </p>
            </div>
            <div class="col-sm text-center">
                <img class="img-fluid" src="images/fproduct4.jpg" alt="">
                <h4>
                    MRM, MSM Crystals, 1,000 mg, 7.05 oz (200 g)
                </h4>
                <p>
                    ₹528.34
                </p>
            </div>
            <div class="col-sm text-center">
                <img class="img-fluid" src="images/fproduct5.jpg" alt="">
                <h4>
                    WEIGHT GAINER WITH MULTI VITAMINS AND MINERALS
                </h4>
                <p>
                    ₹990.00
                </p>
            </div>
            <div class="col-sm text-center">
                <img class="img-fluid" src="images/fproduct6.jpg" alt="">
                <h4>
                    Truly Lean Weightloss
                </h4>
                <p>
                    ₹ 699
                </p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h2 class="p-description">
                    Product Details
                </h2>

            </div>

        </div>
    </div>

    <div class="container details" id="readmore">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h3 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Description
                    </button>
                </h3>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p>
                            <b>Package Dimensions </b> : 27.6 x 18.2 x 16.2 cm; 1 Kilograms
                        </p>
                        <p>
                            <b> Date First Available  :</b> 15 May 2019
                        </p>
                        <p>
                            <b>Manufacturer :</b> HealthyHey Foods LLP
                        </p>
                        <p>
                            <b>ASIN :</b> B07RYY8864
                        </p>
                       
                        
                        <p>
                            <b>Item part number :</b> HOPEARIC1KG-M
                        </p>
                        <p>
                            <b>Country of Origin :</b>India
                        </p>
                        <p>
                            <b>Manufacturer :</b> HealthyHey Foods LLP, HealthyHey Foods LLP, 227, Building No. 5B, Mittal Ind. Estate, Andheri (E), Mumbai : 400059. Contact Us : +91 7303030101 | Email : info@healthyhey.com
                        </p>
                       
                        <p>
                            <b>Item Weight:</b> 1 kg
                        </p>
                        
                        <p>
                            <b>Net Quantity:</b> 1000 gram
                        </p>
                        <p>
                            <b>Included Components:</b> Whey
                        </p>
                        <p>
                            <b>Generic Name:</b> Whey
                        </p>
                        


                    </div>
                </div>
            </div>


            
        </div>

    </div>
    <!-- </div>
    </div>
    </div> -->


    <div class="footer">
        <div class="container rowfooter ">
            <div class="row">
                <div class="col-sm">
                    <img class="img-fluid" src="images/logo1.png" alt="">
                    <p class="address">
                        <i class="fas fa-map-marker-alt"></i>
                        Address: C-100, Rajdhani Park, <br> Nangloi, New Delhi, 110041
                    </p>
                    <p>
                        <i class="fas fa-phone"></i>
                        Phone: <a href="">9582522758</a>
                    </p>
                    <p>
                        <i class="fas fa-envelope"></i>
                        Email: <a href="">akashjaiswal126@gmail.com</a>
                    </p>
                </div>
                <div class="col-sm ">
                    <h3>
                        Download Our App
                    </h3>
                    <p>
                        Download App for Android and ios mobile phone
                    </p>
                    <img class="img-fluid applogo" src="images/play-store.png" alt="">
                    <img class="img-fluid applogo" src="images/app-store.png" alt="">
                    <p class="appsoon">
                        App Coming Soon
                    </p>
                </div>
                <div class="col-sm" id="menu">
                    <h3>
                        Menu
                    </h3>
                    <p>
                        <a href="index.html">Home</a> <br>
                        <a href="">About Us</a> <br>
                        <a href="">Services</a> <br>
                        <a href="products.html">Produsts</a> <br>
                        <a href="">Contact</a> <br>
                        <a href="">Cart</a> <br>
                    </p>

                </div>
                <div class="col-sm">
                    <h3>
                        Opening hrs
                    </h3>
                    <p>Monday - Saturday: 05.00am to 09.00pm
                        <br>
                        Sunday: Closed
                    </p>
                    <h3>
                        Social Media
                    </h3>
                    <i class="fab fa-facebook-square"></i>
                    <i class="fab fa-youtube"></i>
                    <i class="fab fa-instagram-square"></i>
                    <i class="fab fa-twitter"></i>
                </div>
            </div>
            <div class="col-sm copyright">
                <p>
                    Copyright @2021 -Akash Jaiswal
                </p>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.ripples/0.5.3/jquery.ripples.min.js"></script>

    <script>
        $(".navbar").ripples({
            resolution: 1000,
            perturbance: 0.4,
        });
        $(".footer").ripples({
            resolution: 1000,
            perturbance: 0.4,
        });
    </script>


<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script  src="/javascripts/app.js" type="module"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
    -->
</body>

</html>